<p>
  <b>PIECE</b>
</p>

<p>
  <b>Name:</b>
  <%= @piece.name %>
</p>

<p>
  <b>Composer:</b>
  <%= @piece.composer %>
</p>

<p>
  <b>Catalog-Reference:</b>
  <%= @piece.catalog_reference %>
</p>
<%= link_to 'Metronome', metronome_user_piece_path(@user, @piece), id: "metronome" %> |
<%= link_to 'Metronome-Setting', edit_sole_user_piece_metronome_settings_path(@user, @piece) %> |
<%= link_to 'Measures', user_piece_measures_path(@user, @piece) %> |
<%= link_to 'Log', user_piece_log_entries_path(@user,@piece) %> |
<%= link_to 'Pieces', user_pieces_path(@user) %>
<br />
<br />
<%= link_to 'Edit', edit_user_piece_path(@user, @piece) %>





