<h1>Metronome setting</h1>
<%= link_to @piece, user_piece_measures_path(@user, @piece), id: "piece" %>
<br />
<br />
<%= render 'form' %>
<br />
<%= link_to 'Metronome', metronome_user_piece_path(@user, @piece), id: "metronome" %> |
<%= link_to 'Log', user_piece_log_entries_path(@user,@piece) %> |
<%= link_to 'Pieces', user_pieces_path(@user) %>
<p>'Classic ticks per minute' (CTPM) is the classic metronome setting where 60 gives one 'classic' tick per second. (The time signature for the piece is irrelevant.)</p>
<p>Example: For CTPM=60 and 'Classic ticks per beat' (CTPB)=1, each beat has 1 classic-tick, each spaced 1 second a part; for 60 and 2, each beat has 2 classic-ticks, each also spaced 1 second a part (the beat is now twice as long).</p>
<p>Example: For CTPB=3, and a beat with 8 notes for right and 3 for left, 24 ticks are generated, with a classic-tick falling every 8th tick, starting on the 1st.</p>
<p>If sound corruption occurs, computing resources are likely being strained; uncheck Stereo, and reduce beats under consideration.</p>


